<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>О НАС</title>
</head>
<body>

<b>Питомник Самохваловичи</b>

<div class="main">
    <br>
    <div class="list">
        <a><b>
            Республиканское научно-производственное дочернее унитарное предприятие "Институт плодоводства"
            (РУП "Институт плодоводства")
            Ул. Ковалëва, 2,
            223013, аг. Самохваловичи,
            Минский район,
            Минская область,
            Республика Беларусь.</b></a>
    </div>
    <br>
</div>
</body>
</html>