<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>О НАС</title>
</head>
<body>

<b>Питомник Самохваловичи</b>

<div class="main">
    <br>
    <div class="list">
        <a><b>Питомник Самохваловичи находиться в Минском районе Республики Беларусь.</b></a>
        <br>
        <a><b>Ссылка на официальный сайт</b></a>
        <a th:href="@{https://www.belsad.by/site/}"><b>Site nursery</b></a>
    </div>
    <br>
</div>
</body>
</html>